.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

h1 {
  color: rgb(90, 176, 90);
  margin-bottom: 24;
}

.button-login:disabled {
  background-color: rgb(195, 246, 229);
  color: rgb(94, 134, 121);
}

.button-login {
  background-color: rgb(90, 176, 90);
  border-radius: 5px;
  color: rgb(0, 10, 0);
  cursor: pointer;
}
