.container-header {
  align-items: center;
  background-color: aliceblue;
  border-bottom: 2px solid rgb(219, 217, 217);
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 50px;
}

.valor {
  color: rgb(14, 78, 56);
}

.dados-valor {
  padding: 10px;
}

.valor-content {
  display: flex;
}

.icon-money {
  cursor: pointer;
  font-size: larger;
  margin-top: 15px;
}
